.sider {
  position: fixed;
  left: 16px;
  height: 88vh;
  width: 150px !important;
  min-width: 150px !important;
  max-width: 150px !important;
  background-color: #2c2c2d;
  z-index: 1;
  padding: 16px;
  margin-top: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
}

.sider > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainLayout {
  margin-left: 166px;
  position: sticky;
}

.mainLayoutHeader {
  position: absolute;
  top: 16px;
  width: calc(100% - 16px);
  height: 70px;
  /* background-color: white; */
  /* border-bottom: solid 1px lightgray; */
  z-index: 1;
  display: flex;
  align-items: center;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.canvasContainer {
  margin: 16px;
  margin-top: 102px;
  background-color: white;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  transform: scale(1.1);
}

.itemGrayBackground {
  background-color: #cacaca;
  box-shadow: 6px 2px 4px rgba(0, 0, 0, 0.5), 3px 2px 4px rgba(0, 0, 0, 0.5),
    inset -31px -31px 41px rgba(255, 255, 255, 0.64),
    inset 26px 26px 48px rgba(13, 39, 80, 0.16);
  color: var(--text-color);
  z-index: 10;
}

.entity {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border: 2px solid rgba(44, 44, 45, 0.5);
}

.weakEntity {
  width: 96%;
  height: 94%;
  border: 2px solid rgba(44, 44, 45, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.relation {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateZ(45deg);
  border: 2px solid rgba(44, 44, 45, 0.5);
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.leftHeader {
  background-color: #2c2c2d;
  border-radius: 11px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  flex-grow: 1;
  margin-right: 24px;
  padding-left: 16px;
}

.relation:hover {
  transform: scale(1.1) rotate(45deg);
}

.transformedText {
  transform: rotateZ(-45deg);
  text-align: center;
}

.weakRelation {
  width: 95%;
  height: 95%;
  border: 2px solid rgba(44, 44, 45, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
}

.larger {
  width: 70px;
  height: 70px;
  margin-top: 40px;
}

.attribute {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(44, 44, 45, 0.5);
  margin-top: 24px;
  border-radius: 200%;
}

.multiValued {
  width: 96%;
  height: 94%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(44, 44, 45, 0.5);
  border-radius: 200%;
}

.textCenter {
  text-align: center;
}

.derived {
  border-style: dashed;
}

.loadingContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightHeader {
  margin-left: auto;
  margin-right: 16px;
  display: flex;
  align-items: center;
}

.tooltip {
  cursor: pointer;
  margin-left: 16px;
}

.primaryButton {
  background: linear-gradient(
    92.51deg,
    #cd5c5c 9.95%,
    #ff7f50 66.6%,
    #f08080 127.08%
  );
  border: none;
  padding: 8px 32px;
  font-size: 22px;
  height: auto;
}

.primaryButton:hover,
.primaryButton:focus {
  background: linear-gradient(
    92.51deg,
    #cd5c5c 9.95%,
    #ff7f50 66.6%,
    #f08080 127.08%
  );
  opacity: 0.7;
}

.drawerHeader {
  color: #ffffff;
  font-size: 1.5rem;
}

.versionsList {
  margin-bottom: 1.5rem;
  max-height: 83vh;
  height: 83vh;
  overflow: scroll;
}
