.container {
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px var(--outline-color);
  height: 30px;
  width: 150px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0 4px;
}

.disabled {
  cursor: not-allowed;
}
