.mainContent {
  padding-top: 5rem;
}

.form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
}

.formInput {
  margin-top: 1.5rem;
}

.itemIcon {
  color: rgba(0, 0, 0, 0.25);
  margin-right: 0.5rem;
}
