@import "~antd/dist/antd.less";
:root {
  --outline-color: #abafae;
  --background-color: #f8f5f1;
  --text-color: #343f56;
  --rich-text-active: #aee1e1;
  --rich-text-inactive: #f4f9f9;
}
html {
  background-color: #000000;
}
.ant-drawer-content {
  background-color: transparent !important;
  box-shadow: -10px 0px 4px rgba(0, 0, 0, 0.73);
}

.ant-modal-content {
  background: transparent;
}

* {
  font-family: "Roboto Slab", serif;
}
